

  .carousel-indicator-item {
    width: 5px;
    height: 10px;
    border: none;
    background: #fff;
    opacity: 0.5;
    margin: 0.2em;
    border-radius: 50%;
    cursor: pointer;
  }
  .active {
    opacity: 1;
  }